@font-face {
    font-family: Circular;
    src: url("CircularStd-Bold.otf");
         font-weight: bold;
}

@font-face {
    font-family: Circular;
    src: url("CircularStd-Book.otf");
        font-weight: normal;
}

body{
    background: #E5E5E5;
}

.zalupka{
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.zalupka_m{
    height: fit-content;
    width: 40%;
    flex-basis: 40%;
    flex-direction: column;
    align-content: start;
    font-family: Circular;
}

.zalupka_l{
    flex-basis: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Circular;
}

.leftbar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15%;
    margin-top: 7%;
}

.menu{
    width: 192px;
    height: 232px;
    background: #FFFFFF;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 2px rgba(160, 143, 143, 0.32));
    text-transform: uppercase;
    font-weight: normal;
}

.odna_suka_bukova{
    font-size: 35px;
    margin-left: 10%;
    margin-top: 10%;
    font-weight: bold;
}

.ostalne{
    margin-left: 10%;
    margin-top: 10%;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
}

.ad_1{
    margin-top: 5%;
}

.ad_1 img{
    width: 192px;
    height: 96px;
    object-fit: cover;
    border-radius: 8px;
}

.ad_2{
    margin-top: 5%;
}

.ad_2 img{
    object-fit: cover;
    width: 192px;
    height: 172px;
    border-radius: 8px;
}

.zalupka_r{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    font-family: Circular;
}
#main_h{
    font-weight: bold;
    line-height: 35px;
    font-size: 28px;
    color: #423B3B;
    padding: 3% 0% 3% 0%;
}

.quote{
    font-size: 12px;
    line-height: 15px;
    padding: 3% 0% 3% 0%;
    color: #A08F8F;
    font-weight: normal;
}

.content{

    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    padding: 3% 0% 3% 0%;
    color: #423B3B;
}

.line{
    border-left: 2px solid #D8D1D1;
    padding-left: 5%;
    margin-bottom: 3%;
}

.line_quote{
    font-size: 12px;
    line-height: 15px;
    padding-top: 3%;
    color: #A08F8F;
    font-weight: bold;
    margin-top: 10px;
}

#pic{
    left: 448px;
    top: 480px;
}

#pic img{
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: 352px;
}

.quote_r{
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    color: #A08F8F;
    padding-left: 20%;
}

.item_1{
    margin-top: 97%;
}

.item_2{
    margin-top: 145%;
}

.item_3{
    margin-top: 120%;
}

.footer{
    font-family: Circular;
    font-size: 9px;
    line-height: 11px;
    color: #D8D1D1;
    margin-left: 30%;
    width: fit-content;
    padding-top: 5%;
}
/*----------------------------------------------------------------------------------------------------------------*/

.dick_head{
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    align-content: start;
    flex-basis: 60%;
    font-family: Circular;
    font-weight: bold;
}

.bottom{
    display: flex;
    margin-top: 16px;
}

.quote_dick{
    justify-items: center;
    font-size: 9px;
    line-height: 11px;
    color: #A08F8F;
    margin-left: 1%;
    padding-top: 4px;
}

.dick_item{
    margin-top: 30px;
    font-size: 28px;
}

.tag_1{
    background: #D8D1D1;
    border-radius: 2px;
    font-family: Circular;
    font-size: 8px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 8px 0px 8px;
}

.tag_2{
    background: #56CCF2;
    border-radius: 2px;
    font-family: Circular;
    font-size: 8px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 8px 0px 8px;
}

.tag_3{
    background: #6FCF97;
    border-radius: 2px;
    font-family: Circular;
    font-size: 8px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 8px 0px 8px;
}

.tag_4{
    background: #EB5757;
    border-radius: 2px;
    font-family: Circular;
    font-size: 8px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 8px 0px 8px;
}

.tag_5{
    background: #6FCF97;
    border-radius: 2px;
    font-family: Circular;
    font-size: 8px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 8px 0px 8px;
}

